{% extends "learning_logs/base.html" %}

{% block header %}

    <h2>所有主题</h2>

{% endblock header %}

{% block content %}


  
  <ul>
      <table border="0">
    {% for topic in topics %}
      
      <tr> 
        <th align="left">     
        <li><h3><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }}</a></li></h3>
        </th>
        <th align="right">
          <h3>（<a href="{% url 'learning_logs:edit_topic' topic.id %}">修改该主题名字</a>）</h3>
        </th>
      </tr>  
      

    {% endfor %}
    </table>
  </ul>

  <h3><a href="{% url 'learning_logs:new_topic' %}">添加主题</a></h3>

     
{% endblock content %}
